apiVersion: apps/v1
kind: Deployment
metadata:
  name: apache
  namespace: apache
spec:
  replicas: 1
  selector:
    matchLabels:
      app: apache
  template:
    metadata:
      labels:
        app: apache
    spec:
      containers:
      - name: apache
        image: ghcr.io/servercontainers/apache2-ssl-secure:latest
        ports:
        - containerPort: 80
        volumeMounts:
        - name: apache-html-volume
          mountPath: /var/www/html
      volumes:
      - name: apache-html-volume
        configMap:
          name: apache-html
